* {
	
}

.divGame{
	display: none;
	align-content: center;
	justify-content: center;
}
.sectionDisplay{
	display: flex;
	flex-wrap: wrap;
	width: 800px;
}
.sectionDisplay > div{
	height: 240px;
	width: 240px;
	border: 1px solid black;
	flex-basis: 33%;
	background-repeat: no-repeat;
	background-size: contain;
}

