* {
	
}

.divGame{
	display: none;
	align-content: center;
	justify-content: center;
}
.divInfo{
	display: flex;
	justify-content: center;
	align-content: center;
}
.sectionDisplay{
	display: flex;
	flex-wrap: wrap;
	width: 450px;
}
.sectionDisplay > div{
	height: 150px;
	width: 150px;
	border: 1px solid black;
	flex-basis: 32%;
	background-repeat: no-repeat;
	background-size: contain;
}

